* {
    font-family: sans-serif;
}

body {
    position: relative;
}

.content_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0 50px;
}

.main-text {
    margin: 30px;
    font-size: 35px;
    color: black;
    font-weight: 550;
    border-top: solid red 5px;
    border-bottom: solid black 5px;
    border-left: solid blue 5px;
    border-right: solid yellow 5px;
    padding: 10px 25px;
    background: black;
    color: white;
    animation: name 1s infinite;
}

@keyframes name {
    0% {
        box-shadow: 1px 1px 20px red;
    }

    25% {
        box-shadow: 1px 1px 20px yellow;
    }

    50% {
        box-shadow: 1px 1px 20px blue;
    }

    75% {
        box-shadow: 1px 1px 20px green;
    }

    100% {
        box-shadow: 1px 1px 20px black;
    }
}

nav > * {
    margin-right: 50px;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(83,49,165);
    padding: 15px 10px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.15s;    
}

a:hover {
    transform: scale(1.05)
}

.bodycontent {
    background: #f7e9e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    gap: 450px;
}

img {
    order: 1;
    height: 500px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.h1_p {
    width: 700px;
    margin-bottom: 100px;
    position: relative;
}

h1 {
    font-size: 70px;
    line-height: -15px;
    font-weight: 400
}

h1::before {
    content: "HELLO";
    color: #444;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

p {
    font-size: 20px;
    line-height: 25px;
    color: #5c5b5b;
}

span {
    font-weight: 600
}

.ancar > * {
    font-size: 40px;
    margin-right: 40px;
}

.you {
    color: red;
}

.lin {
    color: #0867c2;
}

.git {
    color: black;
}

.ins {
    color: #bf1f93;
}

@media (max-width: 1713px) {
    .h1_p {
        width: 400px;
        margin-bottom: 100px;
        position: relative;
    }
}

@media (max-width: 1458px) {
    .h1_p {
        width: 200px;
        margin-bottom: 100px;
        position: relative;
    }

    h1 {
        font-size: 50px;
        line-height: -15px;
        font-weight: 400;
        width: 300px;
    }
    
    .bodycontent {
        background: #f7e9e8;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        gap: 300px;
    }
}